
    <html lang="pt-br">
      <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Página Inicial</title>
      </head>
      <body>
        <h1>Esperar na porta?</h1>
        <p>Nunca mais! </p>
        <p>Com o Reserva Rapido voce entra nas filas sem sair de casa. Fique tranquilo, nos avisamos a hora de sair!</p>
        <form action="/" method="GET">
          <button type="submit">Avançar</button>
        </form>
      </body>
    </html>

