
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bem-vindo</title>
</head>
<body>
  
  <h2>Cadastro</h2>
  <form action="/cadastro" method="POST">
    <label for="cadastroNome">Nome:</label>
    <input type="text" id="cadastroNome" name="nome" required>
    <label for="cadastroEmail">Email:</label>
    <input type="email" id="cadastroEmail" name="email" required>
    <label for="cadastroSenha">Senha:</label>
    <input type="password" id="cadastroSenha" name="senha" required>
    <button type="submit">Cadastrar</button>
  </form>
</body>
</html>







